.jumbotron-fluid {
    color: white;
    background-color: #36454f;
}

#current {
    background-color: #f2f2f2;
}
#main {
    background-color: #f2f2f2;
}

/* .col {flex-direction: row;
    justify-content: flex-end;} */